div.mainContent{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/*///// modal window /////*/
/* モーダルと背景の指定 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
  z-index: 1;
}

/* モーダルの擬似要素の指定 */
.modal:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active {
  opacity: 1;
  visibility: visible;
}

/* モーダル内側の指定 */
.modal-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
  width: 90%;
}

/* モーダルを閉じるボタンの指定 */
.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

/* モーダルのコンテンツ部分の指定 */
.modal-content {
  background: #fff;
  text-align: left;
  line-height: 1.8;
  padding: 20px;
}

/* モーダルのコンテンツ部分のテキストの指定 */
.modal-content p {
  margin: 1em 0;
}

/* モーダルのコンテンツ部分のテキストの幅 */
#member1 {
  display: inline-block;
  width: 75px;
}

#member2 {
  display: inline-block;
  width: 75px;
}
#member3 {
  display: inline-block;
  width: 75px;
}
#member4 {
  display: inline-block;
  width: 75px;
}
#member5 {
  display: inline-block;
  width: 75px;
}
#member6 {
  display: inline-block;
  width: 75px;
}
#member7 {
  display: inline-block;
  width: 75px;
}
#member8 {
  display: inline-block;
  width: 75px;
}
#member9 {
  display: inline-block;
  width: 75px;
}

/*///// Member Average部 /////*/
.memberAverage {
  padding-left: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.teamAvg {
  margin-left: 10px;
  width: 150px;
  /* border: solid black 1px; */
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

/*///// Batting Order部 /////*/
#statsCheckAll {
  margin-left: 15px;
  width: 35px;
  background-color: antiquewhite;
}

#moveAll {
  margin-left: 15px;
}

div.outline {
  width: 470px;
  margin: 5px;
  padding: 5px;
  background-color: green;
  /* float: left; */
}

h2.title1 {
  padding-left: 5px;
  margin-top: 3px;
}

.order {
  width: 450px;
  height: 60px;
  margin: 5px;
  padding: 3px;
  border: solid 1px black;
  background-color: white;
  /* display: flex; */
  border-left: solid 5px yellow;
}

.name {
  margin-right: 5px;
}

label {
  margin-left: 5px;
}

.numberOfGame {
  width: 95px;
  background-color: antiquewhite;
}

.positionSelect {
  margin-left: 70px;
}

.statsDisplay {
  display: flex;
  height: 30px;
  font-size: 90%;
  /* margin-bottom: 20px; */
  /* border: solid 1px black; */
}

p {
  /* position: absolute;
  left: 5px;
  bottom: 5px; */
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: auto;
  font-size: 80%;
}

input {
  height: 20px;
}


/*///// Diffence Position部 /////*/
h2.title2 {
  padding-left: 20px;
  margin-top: 3px;
}

div.diffence {
  display: flex;
  position: relative;
}

.diffence img {
  width: 500px;
  height: 500px;
  margin-left: 20px;
}

#pitcher {
  position: absolute;
  top: 315px;
  left: 245px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

#catcher {
  position: absolute;
  top: 430px;
  left: 245px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

#firstBaseMan {
  position: absolute;
  top: 290px;
  left: 330px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

#secondBaseMan {
  position: absolute;
  top: 240px;
  left: 300px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

#thirdBaseMan {
  position: absolute;
  top: 290px;
  left: 150px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

#shortStop {
  position: absolute;
  top: 240px;
  left: 180px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

#left {
  position: absolute;
  top: 150px;
  left: 120px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

#center {
  position: absolute;
  top: 120px;
  left: 245px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

#right {
  position: absolute;
  top: 150px;
  left: 370px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
}

#output {
  margin-left: 250px;
  margin-top: 30px;
  /* visibility: hidden; */
}
